#photo {
    height: 40vw;
  }
  
  button {
    height: 40vw;
    width: 7vw;
    font-weigth: bold;
    font-size: 2.5vw;
    border: 0.7px solid black;
    background: white;
    
  }
  button:hover {
    opacity: 0.5;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  .key-features {
    display: flex;
    margin-top: 10%;
    margin-left: 13%;
    position: relative;
  }
  
  .gray-container {
    position: relative;
    margin-top: -7.7%;
    margin-left: 20.1%;
    background: gray;
    width: 59.2vw;
    opacity: 0.8;
    height: 6.2vw;
    font-size: 1vw;
  }
  main {
      margin-bottom: 250px;
      background: rgb(114,115,115);
      background: linear-gradient(90deg, rgba(114,115,115,1) 0%, rgba(255,255,255,1) 50%, rgba(114,115,115,1) 100%);
  }